---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-scheduler-kubeconfig
  namespace: {{ namespace }}
data:
  kubeconfig: |
    apiVersion: v1
    kind: Config
    preferences: {}
    clusters:
      - name: {{ namespace }}
        cluster:
          server: "https://kube-apiserver:6443"
          certificate-authority: "/srv/kubernetes/pki/ca/tls.crt"
    users:
      - name: kube-scheduler
        user:
          client-certificate: "/srv/kubernetes/pki/kube-scheduler/tls.crt"
          client-key: "/srv/kubernetes/pki/kube-scheduler/tls.key"
    contexts:
      - name: kube-scheduler@{{ namespace }}
        context:
          cluster: {{ namespace }}
          user: kube-scheduler
    current-context: kube-scheduler@{{ namespace }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-scheduler
  namespace: {{ namespace }}
  labels:
    component: kube-scheduler
    tier: control-plane
spec:
  replicas: 2
  selector:
    matchLabels:
      component: kube-scheduler
      tier: control-plane
  template:
    metadata:
      labels:
        component: kube-scheduler
        tier: control-plane
    spec:
      automountServiceAccountToken: false
      restartPolicy: Always
      tolerations:
        - effect: NoExecute
          operator: Exists
      containers:
        - name: kube-scheduler
          image: k8s.gcr.io/kube-scheduler:{{ kube_version }}
          imagePullPolicy: IfNotPresent
          command:
            - kube-scheduler
            - --kubeconfig=/srv/kubernetes/kube-scheduler/kubeconfig
            - --leader-elect=true
            - --v=2
          volumeMounts:
            - name: ca
              mountPath: /srv/kubernetes/pki/ca
            - name: kube-scheduler-cert
              mountPath: /srv/kubernetes/pki/kube-scheduler
            - name: kubeconfig
              mountPath: /srv/kubernetes/kube-scheduler
          livenessProbe:
            failureThreshold: 8
            httpGet:
              host: 127.0.0.1
              path: /healthz
              port: 10251
              scheme: HTTP
            initialDelaySeconds: 15
            timeoutSeconds: 15
      volumes:
        - name: ca
          secret:
            secretName: ca
        - name: kube-scheduler-cert
          secret:
            secretName: kube-scheduler-cert
        - name: kubeconfig
          configMap:
            name: kube-scheduler-kubeconfig
---
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: kube-scheduler
  name: kube-scheduler
  namespace: {{ namespace }}
spec:
  clusterIP: None
  ports:
  - name: http-metrics
    port: 10251
    protocol: TCP
    targetPort: 10251
  selector:
    component: kube-scheduler
  type: ClusterIP
